<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>JustAuth第三方登录</title>
</head>
<body>
<h1>JustAuth 第三方授权登录</h1>

<p>JustAuth，如你所见，它仅仅是一个<strong>第三方授权登录</strong>的<strong>工具类库</strong>，它可以让我们脱离繁琐的第三方登录SDK，让登录变得 <strong>So easy!</strong></p>

<p>项目开源地址：<a href="https://gitee.com/yadong.zhang/JustAuth" target="_blank">Gitee</a> | <a href="https://github.com/zhangyd-c/JustAuth" target="_blank">Github</a></p>

<p>参考文档：<a href="https://gitee.com/yadong.zhang/JustAuth/wikis" target="_blank">JustAuth Wiki</a></p>
<dl>
    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.0.1" target="_blank">v1.0.1</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/github">github</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/gitee">码云</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/weibo">新浪微博</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/baidu">百度</a> | <a target="_blank" href="http://127.0.0.1:8443/oauth/revoke/baidu/21.5d297f9335569716acbacf0882eadbd7.2592000.1560754520.2726711447-15588799">撤销授权</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/dingtalk">钉钉</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/coding">coding</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/tencentCloud">腾讯云开发者平台（coding升级）</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/oschina">开源中国</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/csdn">csdn</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/alipay">支付宝</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.1.0" target="_blank">v1.1.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/qq">QQ</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/wechat">微信</a></dd>


    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.2.0" target="_blank">v1.2.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/taobao">淘宝</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.3.0" target="_blank">v1.3.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/google">Google</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/facebook">Facebook</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.4.0" target="_blank">v1.4.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/douyin">抖音</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/linkedin">领英（Linkedin）</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.5.1" target="_blank">v1.5.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/mi">小米</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/microsoft">微软</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.6.0-beta" target="_blank">v1.6.0-beta</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/toutiao">今日头条</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.9.0" target="_blank">v1.9.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/teambition">Teambition</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/renren">renren</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/pinterest">Pinterest</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/stackoverflow">Stack Overflow</a></dd>

    <dt><strong><a href="https://gitee.com/yadong.zhang/JustAuth/releases/v1.9.0" target="_blank">v1.10.0</a></strong></dt>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/huawei">华为</a></dd>
    <dd><a target="_blank" href="http://127.0.0.1:8443/oauth/render/wechatEnterprise">微信企业版</a></dd>
</dl>

<h1>关注公众号：</h1>
<img src="https://gitee.com/yadong.zhang/static/raw/master/wx/wechat_account.jpg" width="200" />
</body>
</html>